.container{
    display: flex;
    justify-content: space-between;
 box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  background-color: white;


    
}

.nav-container{
    padding-top: 1rem;
    padding-left: 3rem;
    display: flex;
    height: 4rem;
    gap: 0.5rem;
    
}
.logo{
    height: 2.4rem;
}
.brand-name{
    font-size: 1.5rem;
    font-weight: 700;
    color: #0f766e;
}
.links{
    display: flex;
    gap: 1.5rem;
    padding: 20px;
    padding-right: 4rem;
   
}
.l1{
    
     text-decoration: none;
}
